/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 4px;
  min-height: 10px;
  font-family: "JetBrains Mono";
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  background-color: #181825;
  border-right: 1px solid #2c2c2c;
}

tabbar tabbox tab:selected {
  background-color: #313244;
  color: #ffffff;
}

tabbar tabbox tab label {
  font-size: 13px;
}
